body {
  background-color: #e4fbff;
}

hr{
  border-style: dotted none none;
  width: 10%;
  border-color: #98ddca;
  border-width: 12px;
}

h1{
  color: #4aa96c;
}
h3{
  color: #4aa96c; 
}
img{height: 200px;}
